<div class="home" ng-controller="HomeController">
    <h2>Name: D. Goutham Varma</h2>
    <h3>Branch: Electronics and Communications Engineering</h3>
    <p>Click on the Problem statements below or in the side menu to visit Problem Statement pages</p>
        <a href="#/PS1"><p>Problem Statement 1</p></a>
        <a href="#/PS2"><p>Problem Statement 2</p></a>
        <a href="#/PS3"><p>Problem Statement 3</p></a>
        <a href="#/PS4"><p>Problem Statement 4</p></a>
        <a href="#/PS5"><p>Problem Statement 5</p></a>
        <a href="#/PS6"><p>Problem Statement 6</p></a>
        <a href="#/PS7"><p>Problem Statement 7</p></a>
        <a href="#/PS8"><p>Problem Statement 8</p></a>
        <a href="#/PS9"><p>Problem Statement 9</p></a>
</div>