<script src="js/app.js"></script>
<script src="js/timer.js"></script>
<div class="clock">
   <label id="minutes">00</label><label style="color:white;font-size: 30px">:</label><label id="seconds">00</label>
</div>
<div class="PS1" ng-controller="PS1Controller">
   <fieldset class="form">
      <legend><h1>Registration Form</h1></legend><br><br>
      <form name="regForm" ng-submit="submit()">
          <label>Email :</label>
          <input required type="email" name="email" id="email" ng-model="user.email"><br><br>
          <label>Password :</label>
          <input required type="password" name="password" id="password" minlength="6" pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?=.*[!@#$%^&*()_+])(?![.\n])(?=.*[a-z]).*$" title="Must contain at least 1 number, 1 special character, 1 Captial letter and at least 6 or more characters" ng-model="user.password"><br><br>
          <label>Gender :</label>
          <input required type="radio" id="gender" name="gender" ng-model="user.gender" value="Male">Male
          <input required type="radio" id="gender" name="gender" ng-model="user.gender" value="Female">Female<br><br>
          <label>Date of Birth:  </label>
          <input required name="dob" type="date" id="dob" ng-model="user.dob" max="2005-12-31"><br><br>
          <label>Degree :</label>
          <select required name="degree" id="degree" ng-model="user.degree">
              <option value="" disabled selected>Select your branch</option>
              <option value="Btech CSE" style="color:blue">Btech CSE</option>
              <option value="Btech ECE" style="color:red">Btech CE</option>
              <option value="Btech EEE" style="color:blue">Btech EEE</option>
              <option value="Btech CE" style="color:red">Btech ECE</option>
          </select><br><br>
          <label>Fields of Interest :</label><br>
          <div id="interests" class="interests" ng-repeat="int in interests">
              <input type="checkbox" value="{{int.name}}" name="interests" ng-model="int.ischecked" ng-change="checked(int)" ng-disabled="check==limit && !int.ischecked"/> {{int.name}}<br>
          </div><br>
          <label>Other Interests :</label>
          <input required type="text" name="otherint" ng-model="user.Otherint" id="otherint"/><br><br>
          <input type="submit" ng-click="nav()" ng-disabled="regForm.$invalid"/>
          <input type="reset" ng-click="/PS1" onclick="stop()"/>
      </form>
      <h3>Note: All the fields are Mandatory</h3>
   </fieldset>
<div class="angulardata">
    <h3>You can see the data(stored using angular) below as you enter!</h3>
	  <table class="data">
	   	<tr>
	   		<th>Email: </th>
	   		<th>{{user.email}}</th>
	   	</tr>
        <tr>
	   		<th>Password: </th>
	   		<th>{{user.password}}</th>
	   	</tr>
	   	<tr>
	   		<th>Gender: </th>
	   		<th>{{user.gender}}</th>
	   	</tr>
	   	<tr>
	   		<th>Date of birth: </th>
	   		<th>{{user.dob| date : "dd-MM-yyyy"}}</th>
	   	</tr>
	   	<tr>
	   		<th>Degree: </th>
	   		<th>{{user.degree}}</th>
	   	</tr>
	    <tr>
	   		<th>Interests: </th>
	   		<th>{{user.interest}}</th>
	   	</tr>
	   	<tr>
	   		<th>Other interests: </th>
	   		<th>{{user.Otherint}}</th>
	   	</tr>
	  </table>
</div>
</div>
