<script src="js/app.js"></script>
<div class="PS2" ng-controller="PS2Controller">
    <div class="table">
           <table border=1 bordercolor="#A11C1C">
              <h1 style="color:#FAD7A0">Registered Details</h1>
              <tr style="text-align: center">
                 <th>Email</th>
                 <th>Password</th>
                 <th>Gender</th>
                 <th>Date Of Birth</th>
                 <th>Degree</th>
                 <th>Field of Interests</th>
              </tr>
              <tr style="text-align: center" ng-repeat="user in users">
                 <td id="email">{{user.email}}</td>
                 <td id="password">{{user.password}}</td>
                 <td id="gender">{{user.gender}}</td>
                 <td id="dob">{{user.dob| date : "dd-MM-yyyy"}}</td>
                 <td id="degree">{{user.degree}}</td>
                 <td id="otherint">{{user.interest}},{{user.Otherint}}</td>
              </tr>
           </table>  
    </div>  
    <div id="red">
      <img src="Images/red.JPG">
        <div id="yellow">
            <img src="Images/yellow.JPG">
        </div>
        <div id="blue">
            <img src="Images/blue.JPG">
        </div>
        <div id="translucent" style="opacity: 0.4">
            <img src="Images/white.JPG">
        </div>
    </div>
</div>