<div class="PS3" ng-controller="PS3Controller">
    <h2>a) Brief description about http protocol, http headers and http statuses</h2>
    <p>
       The Hypertext Transfer Protocol (HTTP) is an application-level protocol for distributed, collaborative, hypermedia information systems. This is the foundation for data communication for the World Wide Web. Basically, HTTP is a TCP/IP based communication protocol, that is used to deliver data (HTML files, image files, query results, etc.) on the World Wide Web. HTTP specification specifies how clients request data will be constructed and sent to the server, and how the servers respond to these requests. HTTP is connectionless, media independent and stateless. HTTP is connectionless implies when a request is made by client the client is disconnected from server. Only after server processes and a response is to be sent by server the connection with client is reinstated. HTTP is media independent implies if the client and server know how to handle data content then any type of data can be sent. HTTP is stateless implies once the interaction between client and server is finished after a request is processed, they both forget each other.<br><br>
       HTTP headers provide required information about the request, response and the objects sent in the message. They are the core part of the HTTP requests and responses. The three types are General, request and response. Request header files are applicable only for request messages. Response header files are applicable for response messages. General headers are applicable to both response and request messages.<br><br>
       The status code in a server response is a 3 digit code integer. The first digit defines the class of response and the last two digits do not have any categorization role. There are 5 values the first digit can take. 1xx (Informational), 2xx(Success), 3xx(Redirection), 4xx(Client error) and 5xx(Server error).
    </p>
    <h2 >b) Web server and client-server architecture</h2>
    <p>
       All the web content is stored in the web server. Web servers host the websites. When a client requests a web page the web server searches for the required web page and if it is found, the web server sends web page along with HTTP response to the client. Nginx is one of the web servers. In the client and server architecture the server holds, delivers and manages all the services to be consumed by the client. In this architecture server is the producer and client is the consumer. When the client demands the server provides the services. The client sends a process request over the network connection and web server processes the request. Web server can manage several clients simulatenously. The internet is based on client/server architecture where the web server serves many simultaneous users with web page or website data.
    </p>
    <h2>c) Explanation of OSI model with real time chat application</h2>
    <p>
       OSI stands for Open System Interconnection. It is a framework for implementing protocols in different layers. There are 7 layers in total. It does not perform any functions in the process. It is just a framework.<br>
       The 7 layers of the OSI are Physical, Data link, Network, Transport, Session, Presentation and Application. The control is passed from one layer to the other.<br><br>
    </p>
    <p style="text-align: center;"><img src="Images/layers.PNG"/></p>
       <ol>
     	 <li>
               Physical layer: This layers sends the bit stream (electrical impulse, light and radio signal) through the network at the electrical and mechanical level. It provides hardware means of sending and receiving data.
           </li>
     	 <li>
               Data link: In this layer data packets are encoded and decoded into bits. It furnishes transmission protocol knowledge and management and handles errors in the physical layer, flow control and frame synchronization. It has two sub layers. One is Media access control (MAC) layer and Logical Link Control (LLC) layer. The MAC sub layer controls how a computer on the network gains access to the data and permission to transmit it. The LLC layer controls frame synchronization, flow control and error checking.
           </li>
     	 <li>
               Network layer: It provides switching and routing technologies, creating logical paths, known as virtual circuits, for transmitting data from node to node. Routing and forwarding are functions of this layer, as well as addressing, internetworking, error handling, congestion control and packet sequencing.
           </li>
     	 <li>
               Transport layer: It provides transparent transfer of data between end systems, or hosts, and is responsible for end-to-end error recovery and flow control. It ensures complete data transfer.
           </li>
     	 <li>
               Session layer: This layer establishes, manages and terminates connections between applications. The session layer sets up, coordinates, and terminates conversations, exchanges, and dialogues between the applications at each end. It deals with session and connection coordination. This layer is responsible for facilitating the starting, handling and ending of connections between nodes.
           </li>
     	 <li>
               Presentation layer: This layer provides independence from differences in data representation (e.g., encryption) by translating from application to network format, and vice versa. The presentation layer works to transform data into the form that the application layer can accept. This layer formats and encrypts data to be sent across a network, providing freedom from compatibility problems. It is sometimes called the syntax layer.
           </li>
     	 <li>
               Application layer: It supports application and end-user processes. Communication partners are identified, quality of service is identified, user authentication and privacy are considered, and any constraints on data syntax are identified. Everything at this layer is application-specific. This layer provides application services for file transfers, e-mail, and other network software services. Telnet and FTP are applications that exist entirely in the application level. Tiered application architectures are part of this layer.
           </li>
       </ol>
    <p>
       Let's look at what happens at each layer when an email is sent.<br><br>
       Suppose i am sending an email. Let's first look at what happens when email goes from client to the server.
    </p>
    <ul>
        <li>Application layer: This is the web browser in this case. The protocol that this layer uses to send commands is SMT protocol.</li>
        <li>Presentation layer: In this layer all the text (system specific format) in email is converted to ASCII (Network format). This layer also encrypts and compresses.</li>
        <li>Session layer: In this layer a header is added to the email. This header handles the sessions.</li>
        <li>Transport layer: This layer uses TC protocol. The email is fragmented. Each of the segments are sent to the network layer.</li>
        <li>Network layer: The segments will be given source and destination IP address and they become packets. These are sent to data link layer</li>
        <li>Data link layer: In this layer the packets become frames and the physical addresses of the two nodes the email is travelling between will be assigned.</li>
        <li>Physical layer: It puts the data on the physical medium passed to it by the data link layer.</li>
     </ul>
     <p>
        This frame will be sent to the router. The router will remove data link information and sends it to the network layer which determines where to send the packet by using destination IP address. When the receiver side router receives the data, the router will remove the data link information and will send the packet to the network layer where the next destination will be identified and once identified it appends the appropriate date link information to send it to the Ethernet network again. When the data is received at the receivers side each layer of the model will remove a layer of encapsulation and reads the information appended by the same layer on the sender side.
     </p>
     <ul>
        <li>Physical layer: Here the bits from the physical medium are converted to frames and sent to data link layer.</li>
        <li>Data link layer: The data link headers are removed and converted to packets. Packets are sent to network layer.</li>
        <li>Network layer: The IP header is removed and the packets are converted back to segments.</li>
        <li>Transport layer: The segements are again combined to form original data.</li>
        <li>Session layer: Here session information is used to determine which communication stream the data belongs to.</li>
        <li>Presentation layer: This layer uses the information passed by the session layer to be able to interpret the data for the specific machine.</li>
        <li>Application layer: The application will read the SMTP commands that the application layer on the sender sent and hence email will be received.</li>
     </ul>
</div>     