<script src="js/todo.js"></script>
<div class="PS4" ng-controller="PS4Controller">
    <div class="todo">
        <h1>To-Do App</h1>
        <p><label for="new-task" style="color:yellow">Add your task here: </label>  <input id="new-task" type="text"> <button id="add-button">Add</button></p>
        <table>
           <tr style="color:#FAD7A0;text-align: center">
             <th>Todo</th>
             <th>Ongoing Tasks</th>
             <th>Completed</th>
           </tr>
           <tr style="text-align: center">
             <td id="todo-tasks" style="color:white"></td>
             <td id="started-tasks" style="color:white"></td>
             <td id="done-tasks" style="color:white"></td>
           </tr>
        </table></div><br><br><br>
        <p style="color:#FAD7A0">How to use!</p>
        <ol style="color:white">
            <li>Type the task you want to add to the app and click Add button</li>
            <li>Task is added to Todo list. Type in the input box and press Edit button to edit the tack. Start button to start the task.</li>
            <li>Start button->Task is added to Ongoing list. Click Done button to add the task to Completed list.</li>
            <li>In the completed list click Start button to start doing the task again or Delete button to delete the task.</li>
        </ol>
        <p style="color:#FAD7A0">Enjoy!</p>
    </div>
</div>