<div class="PS5" ng-controller="PS5Controller">
   <h2>Differences between Object oriented programming and Functional Programming</h2>
   <P>
      Basic elements of functional programming are variables and functions. The result of functions depend up on the arguments and context at funciton definition time. Basic elements of object oriented programming are objects and methods.The result of the method should only depend on its arguments and the object's state at method invocation time. So Object oriented programming is basically imperative programming with an additional level of abstraction regarding data and functions. None the less, we can do functional programming in an object oriented programming language. Because Objects can have constant state and methods can depend only on its arguments and the context available at method definition time. 
   </p>
   <h2>List and explain all the OOP principles</h2>
   <p>
       The four basic OOP principles are Encapsulation, Abstraction, Inheritance and polymorphism. Encapsulation is the hiding of data implementation by restricting access to accessors and mutators.Data abstraction and encapuslation are closely tied together, because a simple definition of data abstraction is the development of classes, objects, types in terms of their interfaces and functionality, instead of their implementation details. Abstraction denotes a model, a view, or some other focused representation for an actual item. Its the  development of a software object to represent an object we can find in the real world. Encapsulation hides the details of that implementation. Abstraction is used to manage complexity. Software developers use abstraction to decompose complex systems into smaller components. Objects can relate to eachother with either a “has a”, “uses a” or an “is a” relationship.  “Is a” is the inheritance way of object relationship. Inheritance allows us to define a class in terms of another class, which makes it easier to create and maintain an application. This also provides an opportunity to reuse the code functionality and fast implementation time. When creating a class, instead of writing completely new data members and member functions, the programmer can designate that the new class should inherit the members of an existing class. This existing class is called the base class, and the new class is referred to as the derived class. Polymorphism means one name, many forms.  Polymorphism manifests itself by having multiple methods all with the same name, but slighty different functionality. There are 2 basic types of polymorphism.  Overridding, also called run-time polymorphism, and overloading, which is referred to as compile-time polymorphism.  This difference is, for method overloading, the compiler determines which method will be executed, and this decision is made when the code gets compiled. Which method will be used for method overriding is determined at runtime based on the dynamic type of an object.
   </p>
   <h2>JVM and its different components</h2>
   <p>
       The Java Virtual Machine (JVM) is a virtual machine that provides an environment to execute compiled Java code (also called byte code). The implementations of JVM vary depending on the operating system it is meant for. The major components of JVM include constant pool, Heap area, Class loader, Stack area, Register area and Execution engine. The constant pool is a pool of constants. In other words, it contains a list of all the constants contained in a class.
       The class loader is responsible for loading classes and interfaces residing in the byte code. Heap area is the region of memory where objects are stored. If the size of an object cannot be determined at compilation time, such objects are stored in the heap; in other words, instances of classes. The JVM stores local variables and intermediate results of execution of methods in the stack. Register area This contains the registers used by the JVM. The JVM contains four registers: pc, optop, frame, and vars. Execution engine is responsible for execution of the compiled code or byte code.
   </p>
   <h2>Heap and Stack memory allocation for given program</h2>
   <p>
       The variables a,b,c,obj,t in the main function are stored in Stack memory. The variables name and str in the show function are also stored in the stack memory.<br> String pool, Object and test are in the Heap Memory.
   </p>
   <pre>
      <code>
      package com.people10.test
        public class Test{
          public static void main (String args []){
            int a = 2;
            int b = 3;
            int c = a + b; 
            Object obj = new Object ();
            Test t = new Test ();
            t.show ( obj );
          }
          private void show ( Test name ){
            String str = name.toString ();
            System.out.println ( str );
          }
        }
    </code>
  </pre>
</div>       