<div class="PS6" ng-controller="PS6Controller">
       <img src="Images/1.png" width="850px"/><br><br>
       <img src="Images/2.png" width="850px"/><br><br>
       <img src="Images/3.png" width="850px"/><br><br>
       <img src="Images/4.png" width="850px"/>
</div>       