<script src="js/app.js"></script>
<div class="PS7" ng-controller="PS7Controller">
   <h2 style="color:white">Table 1 (All details of Products)</h2>
   <table class="products">
      <tr>
        <th>Item Code</th>
        <th>Qty</th>
        <th>Unit Price</th>
        <th>Amount</th>
        <th>Discount(%)</th>
        <th>Amount after Discount</th>
      </tr>
      <tr ng-repeat="item in api1">
        <td>{{item.itemcode}}</td>
        <td>{{item.qty}}</td>
        <td>{{item.unitprice}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.discount}}</td>
        <td>{{item.amountafterdiscount}}</td>
      </tr>
   </table><br>
   <h2 style="color:white">Table 2 (ItemCode, Amount and Amount after Discount details)</h2>
   <table class="products">
      <tr>
        <th>Item Code</th>
        <th>Amount</th>
        <th>Amount After Discount</th>
      </tr>
      <tr ng-repeat="item in api2">
        <td>{{item.itemcode}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.amountafterdiscount}}</td>
      </tr>
   </table>
</div>