<div class="PS8" ng-controller="PS8Controller">
     <h2>a) Closure, Callback and Promise in javascript</h2>
     <p>
         Closures allow JavaScript programmers to write better code. Creative, expressive, and concise. A closure is an inner function that has access to the outer (enclosing) function’s variables—scope chain. The closure has three scope chains: it has access to its own scope (variables defined between its curly brackets), it has access to the outer function’s variables, and it has access to the global variables. The inner function has access not only to the outer function’s variables, but also to the outer function’s parameters. The inner function cannot call the outer function’s arguments object, however, it can call the outer function’s parameters directly.
    </p>
    <pre>
      <code>
        function showName (firstName, lastName) {
	         var nameIntro = "Your name is ";
	          // this inner function has access to the outer function's variables, including the parameter
	           function makeFullName () {
	              return nameIntro + firstName + " " + lastName;
	             }
	              return makeFullName ();
	             }
	      showName ("Goutham", "Varma");
      </code>
    </pre>
    <p>
         Callback functions are probably the most widely used functional programming technique in JavaScript. Callback functions are derived from a programming paradigm known as functional programming. A callback function, also known as a higher-order function, is a function that is passed to another function (let’s call this other function “otherFunction”) as a parameter, and the callback function is called (or executed) inside the otherFunction. A callback function is essentially a pattern (an established solution to a common problem), and therefore, the use of a callback function is also known as a callback pattern.
    </p>
    <pre>
      <code>
          var friends = ["friend1", "friend2", "friend3", "friend4"];
​             friends.forEach(function (eachName, index){
               console.log(index + 1 + ". " + eachName); // 1. friend1, 2. friend2, 3. friend3, 4. friend4
          });
      </code>
    </pre>
    <p>
         A promise represents the eventual result of an asynchronous operation. It is a placeholder into which the successful result value or reason for failure will materialize. Promises provide a simpler alternative for executing, composing, and managing asynchronous operations when compared to traditional callback-based approaches. They also allow you to handle asynchronous errors using approaches that are similar to synchronous. A promise can be in one of 3 states. Pending, Fulfilled, Rejected. When a promise is pending, it can transition to the fulfilled or rejected state. Once a promise is fulfilled or rejected, however, it will never transition to any other state, and its value or failure reason will not change. The primary API for a promise is its 'then' method, which registers callbacks to receive either the eventual value or the reason why the promise cannot be fulfilled. Here is a simple “hello world” program that synchronously obtains and logs a greeting.
    </p>
      <pre>
        <code>
          var greeting = sayHello();
           console.log(greeting);    // 'hello world’
        </code>
      </pre>
    <p>
         However, if sayHello is asynchronous and needs to look up the current greeting from a web service, it may return a promise:
    </p>
      <pre>
        <code>
          var greetingPromise = sayHello();
          greetingPromise.then(function (greeting) {
               console.log(greeting);    // 'hello world’
          });
        </code>
      </pre>
    <p>
         The same message is printed to the console, but now other code can continue while the greeting is being fetched.
    </p>
    <h2>b) ES6 concepts with examples</h2>
    <p>ES6 is a new JavaScript implementation</p>
    <h3>1. Arrow Functions:</h3>
    <p>
         Arrow functions – also called “fat arrow” functions, are a more concise syntax for writing function expressions. They utilize a new token, =>, that looks like a fat arrow. Arrow functions are anonymous and change the way 'this' binds in functions. Arrow functions make our code more concise, and simplify function scoping and the 'this' keyword.By using arrow function we avoid having to type the function keyword, return keyword (it’s implicit in arrow functions), and curly brackets.
    </p>
      <pre>
        <code>
         var multiple = (x, y) => { return x*y };
        </code>
      </pre>
    <p>ES5:</p>
      <pre>
        <code>
          var multiply = function(x, y) {
          return x*y;
          };
        </code>
      </pre>
    <p>The arrow function example above allows a developer to accomplish the same result with fewer lines of code and approximately half of the typing.</p>
    <h3>2. The let keyword:</h3>
    <p>
         The let statement declares a block scope local variable, optionally initializing it to a value. let allows you to declare variables that are limited in scope to the block, statement, or expression on which it is used. This is unlike the var keyword, which defines a variable globally, or locally to an entire function regardless of block scope. Variables declared by let have as their scope the block in which they are defined, as well as in any contained sub-blocks . In this way, let works very much like var. The main difference is that the scope of a var variable is the entire enclosing function.
    </p>
      <pre>
        <code>
           function letTest() {
             let x = 1;
             if (true) {
               let x = 2; //different variable
               console.log(x);
             }
             console.log(x);
           };
        </code>
      </pre>
    <p>ES5:</p>
      <pre>
        <code>
          function varTest() {
            var x = 1;
            if (true) {
              var x = 2; //same variable
              console.log(x);
            }
            console.log(x);
          }
        </code>
      </pre>
    <h3>3. Default values for function parameters:</h3>
    <p>
         In JavaScript, parameters of functions default to undefined. However, in some situations it might be useful to set a different default value. This is where default parameters can help. In the past, the general strategy for setting defaults was to test parameter values in the body of the function and assign a value if they are undefined. If in the following example, no value is provided for b in the call, its value would be undefined  when evaluating a*b and the call to multiply would have returned NaN.
    </p>
      <pre>
        <code>
          function multiply(a, b = 1) {
            return a * b;
          }
          multiply(5, 2); // 10
          multiply(5, 1); // 5
          multiply(5);    // 5
        </code>
      </pre>
    <p>ES5:</p>
      <pre>
        <code>
          function multiply(a, b) {
            b = (typeof b !== 'undefined') ?  b : 1;
            return a * b;
          }
          multiply(5, 2); // 10
          multiply(5, 1); // 5
          multiply(5);    // 5
        </code>
      </pre>
    <h3>4. Modules-import and export:</h3>
    <p>
         A module is nothing more than a chunk of javascript code (that has its own file). When we use modules, we split our code into different files. This way, we can separate our code in any way we want.A big part of front-end developers will use this to just keep things uncluttered and make their code easy to maintain. In ES6 each module is defined in its own file. The functions or variables defined in a module are not visible outside unless you explicitly export them. This means that you can write code in your module and only export those values which should be accessed by other parts of the app. ES6 modules are declarative in nature. To export certain variables from a module you just use the keyword export. Similarly, to consume the exported variables in a different module you use import.
    </p>
      <pre>
        <code>
          //export
          function generateRandom() {
            return Math.random();
          }
          function sum(a, b) {
            return a + b;
          }
          export {generateRandom, sum}
        </code>
      </pre>
    <p>The export keyword on the last line exports the two functions. As you can see, the exported functions are listed in curly braces separated by a comma.</p>
      <pre>
        <code>
           //import
           import { generateRandom, sum } from 'utility';
           console.log(generateRandom()); //logs a random number
           console.log(sum(1, 2)); //3
        </code>
      </pre>
    <p>This imports the exported values from the module utility.</p>
    <h3>5. Promises:</h3>
    <p>
         Promises are a clean way to implement asynchronous programming in JavaScript (ES6 new feature). Prior to promises, Callbacks were used to implement async programming.Promises give us a way to handle asynchronous processing in a more synchronous fashion. They represent a value that we can handle at some point in the future. And, better than callbacks here, Promises give us guarantees about that future value, specifically: No other registered handlers of that value can change it (the Promise is immutable). We are guaranteed to receive the value, regardless of when we register a handler for it, even if it's already resolved (in contrast to events, which can incur race conditions). For example:
    </p>
      <pre>
        <code>
          // an immediately resolved promise
          var p2 = Promise.resolve("foo");
          // can get it after the fact, unlike events
          p2.then((res) => console.log(res));
          var p = new Promise(function(resolve, reject) {
            setTimeout(() => resolve(4), 2000);
          });
          // handler can't change promise, just value
          p.then((res) => {
            res += 2;
            console.log(res);
          });
          // still gets 4
          p.then((res) => console.log(res));
        </code>
      </pre>
    <h2>c) Functional Programming: </h2>
    <p>
          Functional programming (often abbreviated FP) is the process of building software by composing pure functions, avoiding shared state, mutable data, and side-effects. Functional programming is declarative rather than imperative, and application state flows through pure functions. Contrast with object oriented programming, where application state is usually shared and colocated with methods in objects. Functional programming is a programming paradigm based upon building abstraction using functions, avoiding side effects and change of state. Pure functional programming is thread safe. This means a given function f, gives the same output f (x), for a fixed value of input x. The output would be independent of other parameters such as external inputs, random numbers or states. This is in contrast to procedural programming, which focuses on states.
    </p>
    <p>Simple example:</p>
      <pre>
        <code>
          const x = {
            val: 2
          };
          const x1 = x => Object.assign({}, x, { val: x.val + 1});
          const x2 = x => Object.assign({}, x, { val: x.val * 2});
          console.log(x1(x2(x)).val); // 5
          const y = {
            val: 2
          };
          // Since there are no dependencies on outside variables,
          // we don't need different functions to operate on different
          // variables.
          // Because the functions don't mutate, you can call these
          // functions as many times as you want, in any order,
          // without changing the result of other function calls.
          x2(y);
          x1(y);
          console.log(x1(x2(y)).val); // 5
        </code>
      </pre>
    <h2>d)Map,reduce and filter methods of arrays in javascript</h2>
    <h3>1. Map:</h3>
    <p>Use it when we want to translate/map all elements in an array to another set of values.</p>
      <pre>
        <code>
          var fahrenheit = [0, 32, 45, 50, 75, 80, 99, 120];
          var celcius = fahrenheit.map(function(elem) {
            return Math.round((elem - 32) * 5 / 9);
          });
        </code>
      </pre>
    <h3>2. Filter:</h3>
    <p>Use it when we want to remove unwanted elements based on a condition.</p>
      <pre>
        <code>
          var uniqueArray = array.filter(function(elem, index, array) {
            return array.indexOf(elem) === index;
          }
          );
        </code>
      </pre>
    <h3>3. Reduce:</h3>
    <p>Use it when we want to find a cumulative or concatenated value based on elements across the array.</p>
      <pre>
        <code>
          var rockets = [
          { country:'Russia', launches:32 },
          { country:'US', launches:23 },
          { country:'China', launches:16 },
          { country:'Europe(ESA)', launches:7 },
          { country:'India', launches:4 },
          { country:'Japan', launches:3 }
          ];
          var sum = rockets.reduce(function(prevVal, elem) {
            return prevVal + elem.launches;
          }, 0);
        </code>
      </pre>
</div>        