<div class="success" ng-controller="successcontroller">
    <h1 style="color:yellow;">SUCCESS!!</h1>
    <h3 style="color:white">You will be redirected to Problem statement 2 page which contains the Registered details in 10 seconds</h3>
</div>