body{background-color:#196468;}
.nav{position:fixed;top:0px;left:0px;width:100%;height:100px;background-color:#A11C1C;}
#image{position:fixed;top:0px;left:0px;width:100px;}
.side{position:fixed;right:0px;width:200px;top:100px;height:100%;background-color:#FAD7A0;text-align: center;}
.side a{text-decoration: none;color:#A11C1C;}
.home a{text-decoration: none;color:#FAD7A0;}
.PS1,.PS2,.PS4,.PS6,.PS7,.home{padding:120px 250px 35px 30px;color:white;}
.PS3,.PS5,.PS8,.PS9{padding: 120px 250px 35px 30px; text-align: justify;color:white;}
.success{padding: 120px 250px 35px 30px;}
.home h2,h3{color:yellow;}
.PS3 ul,ol{color: white;}
.PS3 h2{color:yellow;font-style: italic;}
.PS5 h2{color:yellow;font-style: italic;}
.PS9 h2{color:yellow;font-style: italic;}
.PS9 p{color:#FAD7A0;}
.PS9 ul,ol{color: white;}
.PS3,.PS5 p{color:#FAD7A0;}
.PS8 p{color:#FAD7A0;}
.PS8 h2{color: yellow;font-style: italic;}
.form{color:white;width:600px;}
.form h1,label{color:#FAD7A0;}
.clock{position:fixed;top:135px;right:250px;left:850px;}
.angulardata{position:fixed;top:185px;left:700px;right:250px;}
.data{width: 250px;}
.data th{color: white;}
.angulardata h3{color:#FAD7A0;}
.todo h1{color:#FAD7A0;text-align: center;}
input{text-align: center;border-radius: 10px;}
#minutes,#seconds{font-weight: bold; color: yellow;font-size:40px;}
input,select{border: 2px solid blue;}
input:valid,select:valid{border: 2px solid green;}
input:focus:invalid,select:focus:invalid{border: 2px solid red;}
input[type="submit"],input[type="reset"]{border:0}
#red {
   position: absolute;
   top: 350px;
   left:100px;
   right:100px;
   padding-bottom: 120px;
   height:281px;
   width:500px;}
#blue{
   position:absolute;
   top:0px;
   left:250px;
   right:0px;
   width: 250px;
   height:187px;
}
#yellow{
	position:absolute;
	bottom: 120px;
	left:0px;
	right:250px;
	width:250px;
	height:156px;
}
#translucent{
	position:absolute;
	height:167px;
	top: 57px;
	bottom:57px;
	right:125px;
	left:125px;
	width:250px;
}
th{color: #FAD7A0;}
td{color: white;}
tr,th{text-align: center;}
table{border:2px solid white;border-collapse: collapse;width:950px;}
.products,th,td{border:2px solid white;}
.products{border-collapse: collapse;}
